nav {
    background:linear-gradient(135deg, #297fbb 0%,#3180b8 100%);    padding: 1em 1em 1em 1em; 
    height: 20vh;
}

.nav__title--font {
    font-family: $Roboto;
    font-weight: 700;
    font-size: 2em;
    color: white;
}

.card {
    background-color: white;
    max-width: 95vw;
    min-height: 500px;
    margin: 1em auto 1em auto;
    border-radius: 1.5em;
} 
